
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=DM+Serif+Display&display=swap');

body{
    font-size: 16px;
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    line-height: 150%;
}
#p5{
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

#container{
    position: absolute;
    top: 0;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 2px;
    grid-auto-flow: row;
}

section{
    
    padding: 0 2em;
    height: auto;
    &#intro{
        grid-column: span 2;
        p{
            font-size: 1.2em;
            line-height: 1.4em;
        }
    } 

    &#estudiantes{
        border-left: 1px dashed black;
        grid-column: span 3;
        nav{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            grid-auto-rows: 360px;
            column-gap: 10px;
            row-gap: 10px;
            margin-bottom: 20px;
            a{
                display: flex;
                position: relative;
                mix-blend-mode: blend;
                grid-column: span 2;
                transition: all ease 1s;
                img{
                    width: auto;
                    height: 100%;
                    mix-blend-mode: multiply;
                }

                .name{
                    text-align: right;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    right: 0;
                    padding: 1ex 2ex;
                    color: rgba(0, 0, 0, 0.876);
                    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.822),
                    2px 2px 3px rgba(255, 255, 255, 0.609);
                    //background-color: rgba(45, 53, 53, 0.22);
                    border-bottom: 1px dashed black; 
                }
            }
        }
    }

    &#exploraciones{
        border-left: 1px dashed black;
        nav{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            grid-auto-rows: 80px;
            column-gap: 10px;
            row-gap: 10px;
            margin-bottom: 20px;
            li{
                display: flex;
                background-color: transparent;
                mix-blend-mode: multiply;
                transition: all ease 1s;
                border: 1px solid rgba(0, 0, 0, 0.082);
                border-radius: 3px;
                &:hover{
                    background-color: rgba(0, 0, 0, .75);
                    color:white;
                }
                a{
                    display: block;
                    width: 100%;
                    flex-direction: column;
                    height: auto;
                    padding: 1ex;
                    font-size: 14px;
                    line-height: 14px;
                    color: black;
                    text-decoration: none;
                    transition: color ease 1s, background-coloir ease 1.5s;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
}


h1, h2, h3, h4{
    font-family: 'DM Serif Display', serif;
    margin-bottom: 100px;
}

h1{
    font-size: 3em;
    line-height: 1em;
}

footer{
    font-size: 14px;
    padding: 1ex 1em;
    margin: 0;
    grid-column: span 6;
    background-color: rgba(34, 31, 37, 0.219);
    mix-blend-mode: multiply;
    a{
        color: black;
        font-weight: bolder;
        text-decoration: underline;
        cursor: crosshair;
    }
}

@media only screen and (max-width: 1024px) {
    #container{
        display: block;

    }
    section#exploraciones nav li a{
        font-size: 12px;
        word-break: keep-all;
        font-weight: bolder;
    }
}