html, body {
  padding: 0;
  background-color: black;
  width: 80%;
  margin: 0 auto;
}
canvas {
  display: block;
  margin: 2em 0;
  border: 1px solid #CCC3;
}



/* The slider itself */
input[type="range"]{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 1em; /* Specified height */
  background: #d3d3d366; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 1em 0;
}

/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  background: #ccc9d486; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
  width: 1em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  background:  #ccc9d486; /* Green background */
  cursor: pointer; /* Cursor on hover */
}